body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* imagem de fundo */
  background-image: url('https://github.com/user-attachments/assets/d7bbc812-a156-466e-8907-f43ba34a7cbc');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; /* estica a imagem completamente */
}

.container {
  background: rgba(0, 0, 0, 0.3); /* fundo semi-transparente */
  padding: 20px;
  border-radius: 10px;
}

label, textarea {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 250px;
  height: 100px;
  resize: none;
    background: rgba(150, 16, 16, 0)
}